@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/Raleway.woff2) format('woff2'), url(../fonts/Raleway.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/Raleway_medium.woff2) format('woff2'), url(../fonts/Raleway_medium.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../fonts/Raleway_semibold.woff2) format('woff2'), url(../fonts/Raleway_semibold.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/Raleway_bold.woff2) format('woff2'), url(../fonts/Raleway_bold.woff) format('woff');
}

/*** STRUCTURE LAYOUT ***/
html,body{height:100%;margin:0; color: #333;font-family: 'Raleway', sans-serif;}
#header-top {background: #F45D00;padding: 5px 0;}
#header-top a {color: #FFFFFF;}
#header {padding: 1% 0;background: #FFFFFF url("../images/img_header.png") no-repeat top right;}
footer {background: #F7F3E9 url("../images/color-line.jpg") repeat-x top left;padding: 20px 10px 0px 10px;font-size: 12px;}

/*** GENERAL STYLE ELEMENTS ***/
h1 {font-weight: 600;}
a {color: #F45D00;text-decoration: none;}
a:hover {text-decoration: none;}

/**** NAVBAR ***/
.navbar-default {background-color: transparent !important;border: 0 !important; /*margin-top: 30px;*/}
.navbar-default .navbar-nav > li > a {color: #333333;font-weight: 500;font-size: 16px;}
.navbar-default .navbar-nav > li > a:hover {color: #F45D00;font-weight: 500;font-size: 16px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
.navbar-form {float: none !important;}
.navbar-footer {background-color: transparent !important;border: 0 !important;}
.navbar-footer ul li a {background-color: transparent !important;color: #666; }
.navbar-footer ul li a:hover {color: #333;}

#searchform-input-group {padding: 8px 0;}
#search-box-main .navbar {margin: 20px 0;}

/*** OLD CSS STYLE ***/
.right-not-rounded {border-bottom-right-radius: 0;border-top-right-radius: 0;}
.left-not-rounded {border-bottom-left-radius: 0;border-top-left-radius: 0;}
.no-padding {padding: 0;}


/*** GENERALS ***/

input, select, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #ccc;
}
input:focus, select:focus, textarea:focus, button:focus, a:focus {
  box-shadow: 0 0 10px #F45D00 !important;
  outline: none !important;
}

.aligncenter {
	text-align: center;
}

.unselectable {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

.inline {
	display: inline-block;
}

.pointer {
	cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*** Pages: Datasets, Workflows, Jobs; ***/

.dataset-page table tbody {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 13px;
}


/*** error ***/

.errorDiv {
	position: relative;
	height: 10px;
	text-align: center;
}

.errorRow {
	position: absolute;
	width: 100%;
	text-align: center;
  z-index: 100;
}

.errorRow div * {
	color: #fff;
	border-radius: 4px;
	text-align: center;
	margin: 0 auto;
  background-color: hsla(10, 100%, 50%, 0.75);
}

.errorRow .errorMessage {
	margin: 2px 0;
}

/*** transitions css ***/

.fade-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: all .2s ease-in;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
}


.error-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.error-enter.error-enter-active {
  opacity: 1;
}
.error-leave {
  opacity: 1;
  transition: all .2s ease-in;
}
.error-leave.error-leave-active {
  opacity: 0.01;
}


.display-enter {
  opacity: 0.01;
  transition: all 2s ease-in;
}
.display-enter.display-enter-active {
  opacity: 1;
}
.display-leave {
  opacity: 1;
  transition: all 2s ease-in;
}
.display-leave.display-leave-active {
  opacity: 0.01;
}


/*** file uploads ***/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
	font-size: 12px;
	margin: 0 2px;
	padding: 0px 5px;
}
