<div class="container">
	<h2 class="title">Login</h2>
	<div class="row-fluid">
		<div class="span2">
			<div class="container">
				<div class="row">
					<div class="text-center" style="margin-top:50px">
						<h2 class="lead" style="font-size:18px">Please select an authentication method</h2>
					</div>
				</div>

				<div class="row">
					<div class="span4">
						<div class="text-center" style="margin-top:50px">
							<form>
								<fieldset>
									<legend>Anonymous user</legend>
									<button class="btn btn-large btn-block" type="button">
										Guest login
									</button>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="span4">
						<div class="text-center" style="margin-top:50px">
							<form>
								<fieldset>
									<legend>Academic user</legend>
									<button class="btn btn-large btn-primary btn-block" type="button">
										Shibboleth login
									</button>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="span4">
						<div class="text-center" style="margin-top:50px">
							<form method="POST">
								<fieldset>
									<legend>Licensed user</legend>
									<input type="text" name="username" placeholder="Username">
									<input type="password" name="password" placeholder="Password"><br>
									<button type="submit" class="btn btn-warning" style="width:220px">Login</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
