<div class="container">
    <h2 class="title">Execute workflow</h2>


    <div class="row-fluid" style="margin:0">

        <div style="margin:0">
            <form id='newJobFormId' class="form-horizontal" style="margin:0" 
                  enctype="multipart/form-data" method="POST">
                <div class="control-group">
                    <label class="control-label">Workflow</label>
                    <div class="controls">
                        <input name="workflowId" type="text" data-ng-model="workflowId">
                        <input name="workflowName" type="text" data-ng-model="workflowName">
                    </div>

                </div>
                <div class="control-group">
                    <label class="control-label">Dataset</label>
                    <div class="controls">
                        <input name="datasetId" type="text" data-ng-model="datasetId">
                        <input name="datasetName" type="text" data-ng-model="datasetName">
                        <a class="btn" data-ng-click='showDatasets()'><i class="icon-hand-up"></i> Select</a>
                    </div>

                </div>
                <div class="control-group">
                    <div class="controls">
                        <button data-ng-click="runJob()" class="btn btn-success btn-primary"><i class="icon-play-circle icon-white"></i> Run</button>
                        <div style='color:red; display: inline-block'>{{runError}}</div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal span11" data-ng-show='doShowDatasets' style="left:0%; top:220px">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click='hideDatasets()'>&times;</button>
                <h3>Select dataset</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid table-header">
                    <ul class="unstyled">
                        <li class="span2 textline">Identifier</li>
                        <li class="span5 textline">Title</li>
                        <li class="span2 textline">Size</li>
                        <li class="span2 textline">Date</li>
                    </ul>
                </div>

                <div class="row-fluid wkfl-item" data-ng-repeat="ds in datasets | orderBy:orderProp"
                     style="border-left:2px solid blue"  data-ng-click='select({{"ds.id"}}, {{"ds.name"}})'>
                    <ul class="unstyled" style="margin-left:5px">
                        <li class="span2 textline">{{ds.id}}</li>
                        <li class="span5 textline">{{ds.name}}</li>
                        <li class="span2 textline">{{ds.size}}</li>
                        <li class="span2 textline">{{ds.date}}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="btn" data-ng-click='hideDatasets()'>Close</a>
            </div>
        </div>

    </div>
</div>

