<?xml version="1.0" encoding="UTF-8"?>
<config>
	<realm>GEF</realm>
	
	<irods>
		<server>127.0.0.1</server>
		<port>1247</port>
		<username>rods</username>
		<password>rodsgef</password>
		<path>/tempZone/GEF</path>
		<resource>demoResc</resource>
	</irods>

	<pid>
		<epicServerUrl>http://pid.gwdg.de/handles/</epicServerUrl>
		<localPrefix>11022</localPrefix>
		<user>1001-22</user>
		<pass></pass>
	</pid>
</config>
