<div class="container">
	<h2 class="title" style="margin-bottom:0">{{title}}</h2>

	<div class="row-fluid">
		<div class="dropdown sort">
			<label class="offset10 span1 textline" for="selectJobsOrderProp">Sort by: </label>
			<select id="selectOrderProp" name="selectJobsOrderProp" class="span1" data-ng-model="jobsOrderProp">
				<option value="-date">Date</option>
				<option value="name">Id</option>
			</select>
		</div>
	</div>

	<div class="row-fluid table-header">
		<ul class="unstyled">
			<li class="span10 textline">Identifier</li>
			<li class="span2 textline">Date</li>
		</ul>
	</div>

	<div class="row-fluid wkfl-item" data-ng-repeat="ds in jobs | orderBy:jobsOrderProp"
              style="border-left:2px solid green">
		<ul class="unstyled" style="margin-left:5px" data-ng-click='goto({{"ds.id"}})'>
			<li class="span10 textline">{{ds.id}}</li>
			<li class="span2 textline">{{ds.date}}</li>
		</ul>
		<ul class="unstyled" style="margin-left:50px">
		</ul>
	</div>

	<div class="row-fluid" style="margin-top: 30px" data-ng-show="showFile">
            <pre>{{file}}</pre>
	</div>
</div>

