a {
	color: #BD4F4F;
	text-decoration: none;
}
a:hover {
	color: #FF4F4F;
	text-decoration: none;
}

input, select, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #ccc;
}
input:focus, select:focus, textarea:focus, button:focus, a:focus {
  box-shadow: 0 0 10px rgb(179,216,253) !important;
  outline: none !important;
}

.aligncenter {
	text-align: center;
}

.unselectable {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

.inline {
	display:inline-block;
}

.pointer {
	cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*** error ***/

.errorDiv {
	position: relative;
	height: 10px;
	text-align: center;
}

.errorRow {
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-align: center;
}

.errorRow div * {
	color: #fff;
	border-radius: 4px;
	background-color: #a20;
	text-align: center;
	margin: 0 auto;
}

.errorRow .errorMessage {
	margin: 2px 0;
}

/*** transitions css ***/

.fade-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: all .2s ease-in;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
}


.error-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.error-enter.error-enter-active {
  opacity: 1;
}
.error-leave {
  opacity: 1;
  transition: all .2s ease-in;
}
.error-leave.error-leave-active {
  opacity: 0.01;
}


.display-enter {
  opacity: 0.01;
  transition: all 2s ease-in;
}
.display-enter.display-enter-active {
  opacity: 1;
}
.display-leave {
  opacity: 1;
  transition: all 2s ease-in;
}
.display-leave.display-leave-active {
  opacity: 0.01;
}


/*** BETA ***/

.beta-tag {
	position:absolute;
	color:rgba(128, 128, 182, 0.2);
	margin: 64px 0 0 0;
	font-size:36px;
	font-weight:bold;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}

/*** file uploads ***/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

code {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
	font-size: 12px;
	margin: 0 2px;
	padding: 0px 5px;
}
