<?xml version="1.0" encoding="UTF-8"?>
<config>
	<realm>Erdo, Universitaet Tuebingen</realm>
	
	<irods>
		<server>10.0.2.15</server>
		<port>1247</port>
		<username>rods</username>
		<password>rodsgef</password>
		<path>/tempZone/GEF</path>
		<resource>demoResc</resource>
	</irods>

	<pid>
		<epicServerUrl>http://pid.gwdg.de/handles/</epicServerUrl>
		<localPrefix>11022</localPrefix>
		<user>1001-22</user>
		<pass>hPo2aeiw</pass>
	</pid>
</config>
