<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>GEF</display-name>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>eu.eudat.gef.rest;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--	<context-param>
		<description>desc</description>
		<param-name>eu.eudat.gef.name</param-name>
		<param-value>value</param-value>
	</context-param>-->
    <listener>
        <description>Used to init the WebAppConfig class</description>
        <display-name>WebAppConfig listener</display-name>
        <listener-class>eu.eudat.gef.service.WebAppConfig</listener-class>
    </listener>
</web-app>
